RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^market?$    market.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/register?$    /auth/register.php    [NC,L]    # Handle requests for "register"
RewriteRule    ^contact?$    contact.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^terms?$    terms.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/login?$   /auth/login.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/classes/login?$   /auth/classes/Login.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^admin/index?$   /admin/index.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/classes/registration?$   /auth/classes/Registration.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/tools/showcaptcha?$   /auth/tools/showCaptcha.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/settings?$   /auth/settings.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/libraries/class.smtp?$   /auth/libraries/class.smtp.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/libraries/password_compatibility_library?$   /auth/libraries/password_compatibility_library.php    [NC,L]    # Handle requests for "market"
RewriteRule    ^auth/libraries/PHPMailer?$   /auth/libraries/PHPMailer.php    [NC,L]    # Handle$
RewriteRule    ^balances?$    balances.php    [NC,L]    # Handle requests for "balances"
RewriteRule    ^auth/config/config?$    /auth/config/config.php    [NC,L]    # Handle requests for "balances"
RewriteRule    ^auth/password_reset?$    /auth/password_reset.php    [NC,L]    # Handle requests for "balances"
RewriteRule    ^index?$    index.php    [NC,L]    # Handle requests for "balances"
RewriteRule    ^history?$    history.php    [NC,L]    # Handle requests for "balances"
RewriteRule    ^confirm_withdrawal?$    confirm_withdrawal.php    [NC,L]    # Handle requests for "balances"
RewriteRule    ^api/api?$    /api/api.php    [NC,L]    # Handle requests for "API"
